name: Main Checks

on:
  pull_request:
  push:
    branches: [master]

jobs:
  compile:
    name: Compile
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          override: true
          profile: minimal
      
      - uses: Swatinem/rust-cache@v1

      - run: sudo apt-get update
      - run: sudo apt-get install -y libasound2-dev libudev-dev

      - name: Compile
        uses: actions-rs/cargo@v1
        with:
          command: build

  compile-release:
    name: Compile Release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          override: true
          profile: minimal
      
      - uses: Swatinem/rust-cache@v1

      - run: sudo apt-get update
      - run: sudo apt-get install -y libasound2-dev libudev-dev

      - name: Compile
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --release
  clippy:
    name: Clippy
    rus-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          override: true
          profile: minimal
          components: clippy
      
      - uses: Swatinem/rust-cache@v1

      - run: sudo apt-get update
      - run: sudo apt-get install -y libasound2-dev libudev-dev 
      
      - name: Run Clippy
        uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: --all-targets --all-features -- --deny=warnings
  clippy-release:
    name: Clippy Release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          override: true
          profile: minimal
          components: clippy
      
      - uses: Swatinem/rust-cache@v1

      - run: sudo apt-get update
      - run: sudo apt-get install -y libasound2-dev libudev-dev
      
      - name: Run Clippy
        uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: --release --all-targets --all-features -- --deny=warnings